@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient hwb(192 34% 0%) to hsl(280, 87%, 65%);

  /* Light theme */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue-Light: hsl(235, 19%, 35%);

  /* Dark theme */
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue-Dark-1: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue-Dark-2: hsl(237, 14%, 26%);
}

.josefin-400 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.josefin-700 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.box {
  @apply shadow-[rgba(0,0,0,0.1)_0px_4px_12px];
}
